<ion-view view-title="My Store">
  <ion-content ng-show="isLoggedIn" ng-controller="LocationCtrl as loc">
      <form class="bar bar-header item-input-inset" ng-submit="query(keyword)">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="keyword">
        </label>
        <button class="button button-clear icon ion-arrow-right-c" ng-click="loc.query(keyword)">
        </button>
      </form>
    <ion-list>
      <div class="card" ng-repeat="response in responses">
        <h2>{{response.name}}</h2>
        <p>{{response.city}}</p>
          <p>{{response.hours}}</p>
          <p>Phone Number {{response.phone}}</p>
      </div>
    </ion-list>
  </ion-content>
    <ion-content  ng-hide="isLoggedIn">
        <h1>Not Logged In</h1>
        <p>Please log in to view this content</p>
    </ion-content>
</ion-view>
