<ion-view view-title="Locations">
  <ion-content ng-show="isLoggedIn">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
    <ion-content  ng-hide="isLoggedIn">
        <h1>Not Logged In</h1>
        <p>Please log in to view this content</p>
    </ion-content>
</ion-view>
