<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- test Tab -->
  <ion-tab title="test" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/list" ng-show="isLoggedIn">
    <ion-nav-view name="list"></ion-nav-view>
  </ion-tab>
    
  <!-- Products Tab -->
  <ion-tab title="Search" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/products" ng-show="isLoggedIn">
    <ion-nav-view name="products"></ion-nav-view>
  </ion-tab>

  <!-- locations Tab -->
  <ion-tab title="My Store" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/Locations" ng-show="isLoggedIn">
    <ion-nav-view name="Locations"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Logs" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account" ng-show="isLoggedIn">
    <ion-nav-view name="account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
